.dropbox
writeup/probable_junk
code/R/.Rhistory
*unused*
*aux
*bbl
*ttt
*blg
*log
*out
data/
presentations/
literature/
submit/
old/
onenote/
sharing/
writeup/ms_word_drafts
writeup/plots/*pdf
writeup/plots/*svg
writeup/plots/*png
writeup/plots/*tex
writeup/tables/*tex
code/R/Rplots.pdf
writeup/sharing.pdf
presentation/
models/
backups/
comments/
analysis/shaRing_installed.txt